body {
    margin: 0;
    background-color: rgb(209, 207, 190);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

/* .pad {
    width: 100%;
    display: block;
    height: 20px;
    border: solid blue;
} */

.chaps {
    margin: auto;
    height: 1400px;
    width: 100%;
    max-width: 1500px;
    flex-shrink: 1;
    background-repeat: no-repeat;
    background-image: url(chaps2.png);
    background-size: cover;
    background-position: center;
}
header {
    height: 100px;
    /* background-color: rgba(0,0,0,0.4); */
}

.split {
    height: 800px;
}

.logo {
    /* margin-top: -50px; */
    height: 300px;
    width: 80%;
    margin-left: 130px;
    background-image: url("btlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
nav {
    margin: auto;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: brown;
}

#about-us {
    max-width: 900px;
    margin: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5%;
    border: solid 5px white;
}