nav {
    margin: auto;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: brown;
}

.hero {
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(chaps2.png);
    background-size: cover;
    background-position: center;
}

#about-us {
    max-width: 900px;
    margin: auto;
}